<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acknowledge</title>
</head>
<body  text="#5f9ea0"><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2><center>you,<h1><u>{{ name }}</u></h1> successfully registered for  <h1><i>{{ cname }}</i></h1></center></h2>
<br>
<br>
<br>
<br>
<center>Thanq for Choosing us!!<br>
<img src="https://png.pngtree.com/png-vector/20190217/ourmid/pngtree-smile-vector-template-design-illustration-png-image_555080.jpg"></center>
</body>
</html>